<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Update User</title>
</head>
<body>
<div align="center">
    <h1>Update User</h1>
    <br/>
    <form action="#" th:action="@{/updateSave}" th:object="${user}"
          th:method="POST">

        <input type="hidden" th:field="*{id}" readonly="readonly"/>

        <table border="0" cellpadding="10">

            <tr>
                <td> Name:</td>
                <td>
                    <input type="text" th:field="*{username}"/>
                </td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="text" th:field="*{password}"/></td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input type="text" th:field="*{email}"/></td>
            </tr>

            </tr>
            <select multiple size="2" name="role" >
                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                <option selected="selected" value="ROLE_USER">ROLE_USER</option>
            </select>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a th:href="@{/}">Back to User List</a>
                </td>
            </tr>
        </table>
    </form>

</div>

<!--<div align="center">-->
<!--    <h2>Edit User:</h2>-->
<!--    <form th:action="updateSave" th:method="POST" th:object="${user}">-->
<!--        <input type="hidden" name="id" th:value="*{id}">-->
<!--        <label for="login">Login</label>-->
<!--        <br>-->
<!--        <input id="login" name="login" type="text" th:value="*{username}">-->
<!--        <div th:if="${#fields.hasErrors('login')}" th:errors="*{username}">Name error</div>-->
<!--        <br>-->
<!--        <label for="password">Password</label>-->
<!--        <br>-->
<!--        <input id="password" name="password" type="text" th:value="*{password}">-->
<!--        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>-->
<!--        <br>-->
<!--        <label for="email">Email</label>-->
<!--        <br>-->
<!--        <input id="email" name="email" type="text" th:value="*{email}">-->
<!--        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>-->
<!--        <br>-->
<!--        <br>-->
<!--        <select multiple size="2" name="role" >-->
<!--            <option value="ROLE_ADMIN">ROLE_ADMIN</option>-->
<!--            <option selected="selected" value="ROLE_USER">ROLE_USER</option>-->
<!--        </select>-->

<!--        <input type="submit" value="Save">-->
<!--    </form>-->
</div>
</body>
</html>